#imagem  {
    background-image: radial-gradient(#ffe68d, #ff92b6); 
    background-size: cover; 
    background-position: center; 
    height: 350px; 
    align-content: center;
}

/* reset */
.text-reset, a{
    text-decoration: none;
}

/* como-doar */

li::marker {
    color: #F7C33E;
    height: 10px;
  }

  