#imagem  {
    background-image: radial-gradient(#ffe68d, #ff92b6); 
    background-size: cover; 
    background-position: center; 
    height: 350px; 
    align-content: center;
}

/* reset */
.text-reset, a{
    text-decoration: none;
}

/* como-doar */

li::marker {
    color: #F7C33E;
    height: 10px;
  }


#bloco {
    max-width: 25rem;
    margin-left: 25px;
    background-color: #ffa4c5 !important;
    border-radius: 20px;
}

.container .d-grid .btn-a, bg-light {
    width: 80rem; 
    height: 30rem; 
    background-color: #ffa4c5 !important;
    border-radius: 30px;
    min-width: none;
  }

  #list-circles {
    counter-reset: li;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #list-circles li {
    list-style: none;
    margin: 1em 0;
    padding-left: 2.25em;
    position: relative;
  }
  
  #list-circles li::after {
    counter-increment: li;
    content: counter(li);
    position: absolute;
    font-size: 0.9em;
    left: 0;
    font-weight: 600;
    top: -0.25em;
    width: 2em;
    height: 2em;
    background-color: #ffe68d;
    color: #4e4e4e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container .d-grid .btn-b {
    border-radius: 50rem;
    width: 20rem;
    height: 20rem;
    margin: 50px;
    margin-top: 10rem;
  }
  
  .container .d-grid .btn-c {
    width: 70rem; 
    height: 25rem; 
    background-color: #fcfcfc !important;
    border-radius: 30px;
  }
  
.clearfix .img {
  margin-left: 10rem;
}