@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #fcfcfc;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.navbar-brand,
.navbar-brand:focus {
    color: #F7C33E;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #e4af4d;
    font-weight: bold;
}

.btn-navbar-custom {
    background-color: #FB6B9B;
    border: 0.04rem solid #f75189;
    border-radius: 20px;
    color: #fff;
}

.btn-navbar-custom:hover {
    background-color: #E32B68;
    border: 0.04rem solid  #C51D54;
    border-radius: 20px;
    color: #fff;
}

.btn-navbar-custom:active {
    background-color: #FDA5c2 !important;
    border: 0.04rem solid #ff9abb !important;
    border-radius: 20px;
    color: #fff !important;
    box-shadow: none;
    outline: none;
}

.bg-body-tertiary{
    background: #fcfcfc !important;
}

.bg-body-tertiary::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #ebebeb;
    left: 50%;
    transform: translateX(-50%);
}

.text-reset{
    text-decoration: none;
}

.fw-bold{
    color: #F7C33E;
}

li::marker {
    color: #F7C33E;
    height: 10px;
  }

<<<<<<< HEAD
  .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    color: #4e4e4e;
    transition: .3s;
}

.input-box {
    position: relative;
    width: 320px;
    margin: 30px 0;
    border-bottom: 2px solid #858585;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 5px;

}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #4e4e4e;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #FFA4C5;
    font-size: 1.2em;
    line-height: 57px;
=======
#checkText{
    text-align: left !important;
>>>>>>> b35bb8b7a7d939104d7a0685864d82d48d3e8cb1
}
