/*CSS para parte administrativa*/
@import url('./variables.css');

.card {
  margin: 1rem;
  width: 20rem;
}

.card-one {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.card-body {
  display: grid;
  align-content: space-evenly;
}

.card-title {
  color: var(--color-gray-dark);
  font-weight: 600;
}

.container-config {
  box-shadow: 0 2px 4px rgb(0, 0, 0, .25);
  border-radius: .5rem;
  padding: 1rem;
}

.item-config {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  text-decoration: none;
  color: var(--color-gray-dark);
  font-weight: 500;
  font-size: 1.25rem;
}

.name-container {
  background-color: var(--color-primary);
  /* background: linear-gradient(45deg, var(--color-primary), #003e38); */
  color: var(--color-white);
  padding: 1.5rem;
  border-radius: .5rem;

  display: grid;
  gap: .5rem 0;
}

.titulo-name {
  font-size: 1.5rem;
  font-weight: 500;
}

.link-name {
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}

.link-name:hover {
  color: var(--color-white);
  text-decoration: underline;
}

.nav-tabs {
  justify-content: center;
}

.nav-tabs .nav-link {
  color: var(--color-gray-dark);
  font-weight: 500;
  text-decoration: none;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  color: var(--color-secondary-active);
}

.nav-tabs .nav-link.active {
  color: var(--color-secondary) !important;
  font-weight: 600;
}

.pagination {
  justify-content: center;
}

.page-item.active button {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border-color: var(--color-secondary);
}

.page-item button {
  color: var(--color-gray-dark);
}

.page-item button:active {
  color: var(--color-gray-dark);
}

.page-item:not(.active) button:hover,
.page-item:not(.active) button:focus {
  color: var(--color-secondary-active);
}