/*CSS para formulários*/
@import url('./variables.css');

.form-group label:not(.form-check-label) {
  color: var(--color-gray-dark);
  font-weight: 600;
}

.form-link {
  color: var(--color-gray-medium);
  font-weight: 500;
}

.form-link:hover {
  color: var(--color-gray-dark);
}

.form-container-cadastro form,
.form-container form,
.form-container {
  display: grid;
  gap: 1.5rem;
  justify-content: center;
}

.form-container {
  align-items: center;
  justify-items: center;
  padding: 2rem;
  border: 1px solid var(--color-gray-border);
  border-radius: 1rem;
  max-width: 28rem;
  margin: 0 auto;
  min-width: 22rem;
}



.form-container .form-group {
  min-width: 24rem;
}

.form-control {
  width: 100%;
}

.form-group p {
  text-align: center;
}

.form-container-crud {
  align-items: center;
  padding: 2rem;
  border: 1px solid var(--color-gray-border);
  border-radius: 1rem;
  max-width: 48rem;
  margin: 0 auto;
  min-width: 42rem;
}

.form-container-crud .form-group {
  min-width: 44rem;
}

@media (max-width: 992px) {
  .form-container-crud {
    max-width: 90%;
    min-width: 30rem;
    padding: 1.5rem;
  }

  .form-container-crud .form-group {
    min-width: 26rem;
  }
}

@media (max-width: 495px) {
  .form-container-crud {
    min-width: 25rem;
    padding: 1.5rem;
  }

  .form-container-crud .form-group {
    min-width: 22rem;
  }
}

.form-container-cadastro {
  align-items: center;
  justify-items: center;
  padding: 2rem;
  border: 1px solid var(--color-gray-border);
  border-radius: 1rem;
  max-width: 48rem;
  margin: 0 auto;
  min-width: 42rem;
}

.form-container-cadastro .form-group {
  min-width: 44rem;
}

@media (max-width: 992px) {
  .form-container-cadastro {
    max-width: 90%;
    min-width: 30rem;
    padding: 1.5rem;
  }

  .form-container-cadastro .form-group {
    min-width: 26rem;
  }
}

@media (max-width: 495px) {
  .form-container-cadastro {
    min-width: 25rem;
    padding: 1.5rem;
  }

  .form-container-cadastro .form-group {
    min-width: 22rem;
  }
}

.subtitulo-container {
  color: var(--color-secondary);
  font-weight: 700;
  text-transform: uppercase;
}