/*CSS para formulários*/
@import url('./variables.css');

.titulo-pagina {
  color: var(--color-primary);
  font-weight: 700;
}

.form-group label:not(.form-check-label) {
  color: var(--color-gray-dark);
  font-weight: 600;
}

.form-link {
  color: var(--color-gray-medium);
  font-weight: 500;
}

p {
  color: var(--color-gray-dark);
}


.form-container form,
.form-container {
  display: grid;
  gap: .5rem;
  justify-content: center;
}

.form-container {
  align-items: center;
  justify-items: center;
  gap: .5rem;
}