@import url('./variables.css');

footer h6 {
  font-weight: 600;
  color: var(--color-primary);
}

.link-info-footer {
  text-decoration: none;
  color: var(--color-black);
  margin-bottom: 1rem;
}

.link-info-footer:hover {
  color: var(--color-black);
  text-decoration: underline;
}

footer {
  /* background-color: var(--color-primary); */
  color: var(--color-black);
  padding: 1rem;
  box-shadow: 0 -2px 12px 0 rgba(0, 0, 0, 0.3);
}

footer p{
  margin-top: 0;
  margin-bottom: 1rem;
}