/*CSS para textos corridos: faq, politica e termos...*/
@import url('./variables.css');

.texto-obs {
  color: var(--color-gray-medium);
  text-align: center;
}

.card {
  margin: 1rem;
  width: 20rem !important;
}

.card-one {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.card-body {
  display: grid;
  align-content: space-evenly;
}

.card-title {
  color: var(--color-gray-dark);
  font-weight: 600;
}