/*CSS para textos corridos: faq, politica e termos...*/
@import url('./variables.css');

.texto-obs {
  color: var(--color-gray-medium);
  text-align: center;
}

.grid-home{
  display: grid;
  grid-template-areas: 
  "name-container name-container calendar-container"
  "activity-container report-container calendar-container"
  ". . calendar-container";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
  margin: auto;
}

/* Ajuste responsivo */
@media (max-width: 768px) {
  .grid-home {
    grid-template-areas: 
      "name-container"
      "activity-container"
      "report-container"
      "calendar-container"; /* O calendário desce */
    grid-template-columns: 1fr;
  }
}

.name-container {
  grid-area: name-container;
}

.activity-container {
  grid-area: activity-container;
}

.report-container {
  grid-area: report-container;
}

.calendar-container {
  grid-area: calendar-container;
}