/*CSS para textos corridos: faq, politica e termos...*/
@import url('./variables.css');

.texto-obs {
  color: var(--color-gray-medium);
  text-align: center;
}

.name-container{
  background-color: var(--color-primary);
  /* background: linear-gradient(45deg, var(--color-primary), #003e38); */
  color: var(--color-white);
  padding: 1.5rem;
  border-radius: .5rem;

  display: grid;
  gap: .5rem 0;
}

.titulo-name{
  font-size: 1.5rem;
  font-weight: 700;
}

.link-name{
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}