@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #fcfcfc;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

/* header (nav)  */

.navbar-brand,
.navbar-brand:focus {
    color: #F7C33E;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #e4af4d;
    font-weight: bold;
}

.bg-body-tertiary{
  background: #fcfcfc !important;
}

header::after, 
.bg-body-tertiary::before{
    content: "";
    position: absolute;
    height: 1.5px;
    width: 100%;
    background-color: #ebebeb;
    left: 50%;
    transform: translateX(-50%);
}

/* botoes */

.btn-navbar-custom {
  background-color: #FB6B9B;
  border: 0.04rem solid #f75189;
  border-radius: 10px;
  color: #fff;
}

.btn-navbar-custom:hover {
  background-color: #E32B68;
  border: 0.04rem solid  #C51D54;
  border-radius: 10px;
  color: #fff;
}

.btn-navbar-custom:active {
  background-color: #FDA5c2 !important;
  border: 0.04rem solid #ff9abb !important;
  border-radius: 10px;
  color: #fff !important;
  box-shadow: none;
  outline: none;
}

.btn-navbar-custom:focus-visible {
  background-color: #FDA5c2 !important;
  border: 0.04rem solid #ff9abb !important;
  border-radius: 10px;
  color: #fff !important;
  box-shadow: none;
  outline: none;
}

.alt-button{
  color: #f75189;
  border: 0.04rem solid #f75189;
  border-radius: 10px;
}

.alt-button:hover{
  color: #ffffff;
  background-color: #FB6B9B;
  border: 0.04rem solid #f75189;
  border-radius: 10px;
}

.alt-button:active{
  background-color: #E32B68 !important;
  border: 0.04rem solid #C51D54 !important;
  border-radius: 10px;
  color: #fff !important;
}

.navbar-toggler:focus{
  box-shadow: 0 0 0 .25rem rgb(236, 236, 236);
  border: 2px solid #cdcdcd;
}

/* footer */

.fw-bold{
  color: #F7C33E;
}
