@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #fcfcfc;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

/* header (nav)  */

.navbar-brand,
.navbar-brand:focus {
  color: #F7C33E;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #e4af4d;
  font-weight: bold;
}

.bg-body-tertiary {
  background: #fcfcfc !important;
}

header::after,
.bg-body-tertiary::before {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 100%;
  background-color: #ebebeb;
  left: 50%;
  transform: translateX(-50%);
}

/* footer */

.fw-bold {
  color: #F7C33E;
}