:root {
  --color-black: #000000;
  /* Preto */

  --color-white: #ffffff;
  /* Branco */


  --color-primary: #2a7872;
  /* Verde principal (h1, h2...) */

  --color-secondary: #c3013a;
  /* Rosa secundário (botões, ícones pressionados, borda do botão furado) */

  --color-tertiary: #f5683b;
  /* Laranja terciário (tags, botão de editar) */


  --color-gray-light: #a7a7a7;
  /* Ícones, placeholder, subtítulos */

  --color-gray-medium: #666666;
  /* Label, texto do dropdown */

  --color-gray-border: #d9d9d9;
  /* Borda do input, imagem não disponível, bolinha carregando */

  --color-gray-dark: #454545;
  /* Título dos detalhes */

  --color-gray-contrast: #808080;
  /* Link (contraste com a7a7a7) */



  --color-background: #fdfdfd;
  /* Fundo */
  --color-background-accent: #cfcfcf;


  --color-primary-hover: #246963;
  /* Verde escurecido */

  --color-primary-active: #379186;
  /* Verde clareado */

  --color-secondary-hover: #a60030;
  /* Rosa escurecido */

  --color-secondary-active: #e00146;
  /* Rosa clareado */

  --color-tertiary-hover: #d75a34;
  /* Laranja escurecido */

  --color-tertiary-active: #ff7a52;
  /* Laranja clareado */

  --color-primary-dark: #1c504c;
  /* Verde petróleo escuro */
  --color-secondary-dark: #810127;
  /* Vermelho escuro vinho */
  --color-tertiary-dark: #a04323;
  /* Laranja escuro queimado */
}

.custom-color-primary {
  color: var(--color-primary) !important;
}

.custom-color-secondary {
  color: var(--color-secondary) !important;
}

.custom-color-tertiary {
  color: var(--color-tertiary) !important;
}