thead{
  background-color: #d5d5d5;
}

tr{
  border-color: #b4b4b4;
}

.borda-view.container-fluid{
  border: 2px solid #e2e2e2;
  border-radius: 10px;
  display: grid;
  width: 80vw;
  justify-self: center;
  margin: 0;
}

.table{
  --bs-table-bg: transparent !important;
}

.h2{
  font-weight: bold;
  display: inline;
}